.btn-link {
  color: #fff7f0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  padding: 1.4rem 4.5rem;
  border-radius: 40rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--black {
    background-color: $black;
    &:hover {
      background-color: $purple;
    }
  }
  &--orange {
    background-color: $orange;
    &:hover {
      background-color: $yellow;
    }
  }
}

.btn-slider {
  height: 6.4rem;
  width: 6.4rem;
  border: none;
  border-radius: 50%;
  background-color: $black;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $purple;
  }

  &--left {
    background-image: url(/assets/icon-arrow-left.svg);
  }
  &--right {
    background-image: url(/assets/icon-arrow-right.svg);
  }
}

.slider {
  display: flex;
  gap: 3rem;
  overflow-x: hidden;
  margin: 5.6rem 0;

  &__image {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, filter 0.4s;

    &:hover {
      filter: opacity(0.8);
    }
  }
}
