.intro-section__image {
  width: 100%;
  max-width: 44.5rem;

  img {
    height: 100%;
    width: 100%;
  }
}
.intro-section__text {
  width: 100%;
  max-width: 54rem;

  &-paragraph {
    margin-top: 3.4rem;
  }
  &-btn {
    margin-top: 3.2rem;
  }
}
