.intro-section__image {
  background-color: rebeccapurple;
  flex: 0 1 44.5rem;

  @media (max-width: $tablet-lg) {
    transform: translateX(-8.5rem);
    flex-basis: 36.4rem;
    flex-shrink: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
.intro-section__text {
  flex: 0 1 54rem;
  background-color: beige;

  @media (max-width: $tablet-lg) {
    flex-basis: 58rem;
  }
}
