body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: $cream;
  margin: 0 auto;
}

.intro-section {
  width: 100%;
  max-width: 118rem;
  padding: 0 4rem;
  margin: 0 auto;

  margin-top: 11.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-section {
  &__btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.CTA-section {
  width: 100%;
  max-width: 110rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 8.8rem;
  background-color: $black;
  color: $white;
  padding: 8rem 6rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}
