body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: $cream;
  margin: 0 auto;
}

.intro-section {
  width: 100%;
  max-width: 118rem;
  padding: 0 4rem;
  margin: 0 auto;

  margin-top: 11.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-section {
  margin-top: 8.8rem;

  &__heading {
    text-align: center;
  }
  &__btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
