//HEADING LARGE
.heading-lg {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

//HEADING MEDIUM
.heading-md {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

//HEADING SMALL
.heading-sm {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraph {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}
