.heading-lg {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 53.75em) {
  .heading-lg {
    font-size: 4.4rem;
  }
}

.heading-md {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 53.75em) {
  .heading-md {
    font-size: 3.2rem;
  }
}

.heading-sm {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraph {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

.center {
  text-align: center;
}

.mt-lg {
  margin-top: 8.8rem;
}

.mt-md {
  margin-top: 5.6rem;
}

.mb-md {
  margin-bottom: 3.3rem;
}

.mt-sm {
  margin-top: 3.3rem;
}

.mt-xs {
  margin-top: 2.5rem;
}

.btn-link {
  color: #fff7f0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  padding: 1.4rem 4.5rem;
  border-radius: 40rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-link--black {
  background-color: #030303;
}
.btn-link--black:hover {
  background-color: #755cde;
}
.btn-link--orange {
  background-color: #eb7565;
}
.btn-link--orange:hover {
  background-color: #f6a560;
}

.btn-slider {
  height: 6.4rem;
  width: 6.4rem;
  border: none;
  border-radius: 50%;
  background-color: #030303;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-slider:hover {
  background-color: #755cde;
}
.btn-slider--left {
  background-image: url(/assets/icon-arrow-left.svg);
}
.btn-slider--right {
  background-image: url(/assets/icon-arrow-right.svg);
}

.slider {
  display: flex;
  gap: 3rem;
  overflow-x: hidden;
}
.slider__image {
  border-radius: 8px;
  width: 100%;
  max-width: 54rem;
  transition: transform 0.3s ease-in-out, filter 0.4s;
}
@media (max-width: 53.75em) {
  .slider__image {
    max-width: 50rem;
  }
}
.slider__image:hover {
  filter: opacity(0.8);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff7f0;
  margin: 0 auto;
}

.intro-section {
  width: 100%;
  max-width: 118rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 11.6rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 53.75em) {
  .intro-section {
    gap: 0;
  }
}

.slider-section__btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.CTA-section {
  width: 100%;
  max-width: 110rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 8.8rem;
  background-color: #030303;
  color: #fff;
  padding: 8rem 6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  padding: 3.8rem 0;
  justify-content: space-between;
}

.hero {
  width: 100%;
  max-width: 118rem;
  padding: 0 4rem;
  margin: 0 auto;
}
.hero__paragraph {
  margin: 0 auto;
  margin-top: 2.3rem;
  width: 100%;
  max-width: 73rem;
}

.skills-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 18.2rem 15.8rem;
  gap: 2.4rem;
  margin-top: 8rem;
}
@media (max-width: 62.5em) {
  .skills-gallery {
    gap: 2rem;
  }
}
@media (max-width: 53.75em) {
  .skills-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 18.2rem 15.8rem 18.2rem;
  }
}

.skill {
  background-color: pink;
  border-radius: 8px;
  position: relative;
}
.skill__image {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}
.skill__text {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}

.graphic-design {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  background-color: #755cde;
}

.ui-ux {
  grid-column: 3;
  grid-row: 1;
  background-color: #f6a560;
}

.apps {
  grid-column: 4;
  grid-row: 1;
  background-color: #f39e9e;
}

.photography {
  grid-column: 5/span 2;
  grid-row: 1;
  background-color: #61c4b7;
}

.illustrations {
  grid-column: 3/span 2;
  grid-row: 2;
  background-color: #eb7565;
}

.motion-graphics {
  grid-column: 5/span 2;
  grid-row: 2;
  background-color: #552049;
}

@media (max-width: 53.75em) {
  .photography {
    grid-column: 1/span 2;
    grid-row: 3;
  }
  .illustrations {
    grid-column: 3/span 2;
  }
  .motion-graphics {
    grid-column: 3/span 2;
    grid-row: 3;
  }
}
.intro-section__image {
  background-color: rebeccapurple;
  flex: 0 1 44.5rem;
}
@media (max-width: 53.75em) {
  .intro-section__image {
    transform: translateX(-8.5rem);
    flex-basis: 36.4rem;
    flex-shrink: 0;
  }
}
.intro-section__image img {
  height: 100%;
  width: 100%;
}

.intro-section__text {
  flex: 0 1 54rem;
  background-color: beige;
}
@media (max-width: 53.75em) {
  .intro-section__text {
    flex-basis: 58rem;
  }
}

@media (max-width: 53.75em) {
  .CTA-section {
    display: flex;
    flex-direction: column;
  }
  .CTA-section button {
    margin-top: 2.6rem;
  }
}
.CTA-section__text {
  width: 100%;
  max-width: 54rem;
}
@media (max-width: 53.75em) {
  .CTA-section__text {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
